<footer eclass="">
    <div class="">
      <section class="">
        Colonne 1
      </section>
      <section class="">
        Colonne 2
      </section>
      <section class="">
        Colonne 3
      </section>
    </div>
</footer>