
<div class="col">
    {{ form_start(form) }}

        {{ form_widget(form) }}
        <div class="d-flex justify-content-center m-2">   
            <button class="btn btn-lg btn-primary btn-lg m-3 text-white">{{ button_label|default('Créer') }}</button>
        </div>
    {{ form_end(form) }}
</div>