{% extends 'base.html.twig' %}

{% block title %}Modifier Taches{% endblock %}

{% block body %}
    <section class="container  ">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="d-flex justify-content-center">
                    <h1>Modifier Taches</h1>
                </div>
                <div class="">
                    {{ include('taches/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div class="d-grid gap-3 mx-auto mt-3 mb-3 ">
                    <a href="{{ path('app_taches_index') }}" class=" mx-auto ">Retour à la liste</a>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}

