{% extends 'base.html.twig' %}

{% block title %}New Taches{% endblock %}

{% block body %}
    <section class="container">
        <div class="row m-3">
            <div class="col-md-6 mx-auto">
                <div class="d-flex justify-content-center">
                    <h1>Créer une nouvelle tâche</h1>
                </div>
                    {{ include('taches/_form.html.twig') }}
                
            </div>
            <div class="d-grid m-3 mx-auto ">
                <a href="{{ path('app_taches_index') }}" class=" mx-auto ">Retour à la liste</a>
            </div>    
        </div>
    </section>
{% endblock %}
